
:root {
    --primary-color:#C7D2FE;
    --off-white: #C7D2FE;
    --black: black;
}

body {
   margin: 0px;
   font-family: 'Padauk', sans-serif;
   background-color: #F0F9FF;
}

p{
    font: 1.1rem;
}

hr {
    margin: 2rem 0rem;
}



.margin-md {
    margin: 2rem;
}


.container {
    padding: 0rem 1rem;
}

.centered-container {
    max-width: 700px;
    margin: auto;
    text-align: center;
}


.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
}
.link-primary{
    background-color:#818CF8;
    border-radius: 0.5rem;
    color: black;
    max-width: 140px;
    margin: 1.5rem 1rem 1.5rem 0rem;
    font-weight: bold;
    margin-top: 0.5em;

}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}



.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    
    
    padding: 0rem 0.5rem;
}



.navigation {
    background-color: var(--primary-color);
    color: black;
    height: 100px;
    padding: 1rem;
    border-bottom-left-radius: 1.5rem;

}



.navigation .nav-pills {
    
    text-align: right;
    position:relative;
    top: -30px;
}

.navigation .link {
    color: black;
}

.navigation .link-active {
    font-weight: bold;
}



.hero {
    padding: 2rem;
    padding-top: 5rem;

}

.hero .hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    padding-left: 1.4rem;
    color: var(--black);
    font-size: 2rem;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

#projects{
    height: auto;
    line-height: 2rem;
    display: grid;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    
}
.bullet{
   
    padding-bottom: 10px;
    box-shadow: 0 10px 10px rgba(145, 119, 119, 0.19), 2px 3px 3px rgba(90, 57, 57, 0.23);
}

.section {
    padding: 0.2rem;
}

.section h1 {
    text-align: center;

}
.section h2{
    color:#5B21B6;
    font-size: 1.2rem;
    text-align: center;
    padding:0.6rem;
    
}

.section-2 {
    background-color: var(--off-white);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
}
.container .blogs h1{
   padding-left: 0px;
   font-size: 1rem;
}
.blog{
    height: 250px;
    
}
#blogs{
    height:250px;
}


.footer {
    padding: 5rem 1rem;
    text-align: center;
    color:black;
    border-top-right-radius: 3rem;
    height: 20px;
}

.footer .link {
    display: inline;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
    padding-top: 10px;
}

.footer ul {
    padding-inline-start: 0px;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color:black;
}

a:hover {
	opacity: 1;
    
   
    
	color : #A0522D;
}
.list-item-inline{
    font-weight: bold;
}
.desc{
    padding-bottom: 10px;
}
@media (max-width: 800px) {
	
	img {
		width: 20%;
}
@media (max-width: 650px) {
	
    img {
        width: 24%;
    }
@media (max-width: 500px) {
	
    img {
        width: 35%;
        }
    
@media (max-width: 330px) {
	
    img {
        width: 40%;
        }
    